* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Verdana, sans-serif;
    margin: 0;
  }
  
  .mySlides2 {
    display: none;
  }
  
  img {
    vertical-align: middle;
    height: 500px;  
    border-radius: 10px;
  }
  
  .slideshow-container2 {
    max-width: 1000px;
    position: relative;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .prev2, .next2 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: red; 
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 10px;
    user-select: none;
  }
  
  .next2 {
    right: 0;
  }
  
  .prev2:hover, .next2:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  

  
  .numbertext2 {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .dot2 {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active2, .dot2:hover {
    background-color: #202124;
  }
  
  .fade2 {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {
      opacity: .4;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fade {
    from {
      opacity: .4;
    }
    to {
      opacity: 1;
    }
  }
  
  @media only screen and (max-width: 1280px) {
    img {
      height: 450px;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    img {
      height: 450px;
    }
  }
  
  @media only screen and (max-width: 768px) {
    img {
      height: 400px;
    }
  }
  
  @media only screen and (max-width: 576px) {
    img {
      height: 350px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    img {
    padding: 10px;
      height: 300px;
    }
  }
  
  @media only screen and (max-width: 420px) {
    img {
    padding:10px;
      height: 250px;
    }
  }
  
  @media only screen and (max-width: 300px) {
    .prev2, .next2, .text2 {
      font-size: 11px;
    }
  }
  
  .credit2 {
    text-align: center;
    color: #202124;
    padding-top: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .prev2, .next2 {
    color: red !important;
  }
  